
@{
     Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                   
                    <div class="col-sm-6 col-md-8">
                        <h4 id="name"> Bhaumik Patel</h4>
                        <small>
                            <cite id="email" title="">
                            </cite>
                        </small>
                        <p id="email"></p>
                        <p id="cnic"></p>
                        <p id="phone1"></p>
                        <p id="phone2"></p>



                        <p id="dob">
                        </p>
                        <!-- Split button -->
                        @*<div class="btn-group">
                            <button type="button" class="btn btn-primary">
                              
                             </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">  </span>
                            </button>
                           
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <button class="btn btn-danger" id="logout">
            Logout
        </button>
    </div>
</div>

    <script type="text/javascript" src="~/js/jquery/jquery.min.js"></script>

<script>
    $("#logout").click(function(){
         $.ajax({
          url: "/Applicant/ApplicantProfileLogout",
          type: "post",
           dataType: 'JSON',
                     contentType: "application/x-www-form-urlencoded;charset=utf-8",

          cache: false,

         
          success: function (response) {
              
              if(response!=null){
                  if(response.messageType==true){
                    location.reload();
                  
                   
                     
            }
              }
        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
                        alert(textStatus+"Error");

        }
    });
    });

    $(document).ready(function(){
        
     $.ajax({
          url: "/Applicant/ApplicantProfile",
          type: "get",
           dataType: 'JSON',
                     contentType: "application/x-www-form-urlencoded;charset=utf-8",

          cache: false,

         
          success: function (response) {
              
              if(response!=null){
                  if(response.messageType==true){
                    
                      var res=response.result;
                       
                     $.each(JSON.parse(res),function(key,value){
                         $("#name").html(value.ap_name);
                         $("#email").html(value.ap_email);
                         $("#cnic").html(value.ap_cnic);
                         $("#phone1").html(value.ap_phone1);
                         $("#phone2").html(value.ap_phone2);
                         $("#dob").html(value.ap_dob);

                     });

                }
                   
                     
            }

        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
                        alert(textStatus+"Err");

        }
    });
   
   //  });

    });

</script>
